{% extends 'base.html' %}

{% block content%}

<!-- Marker tag for user_detail page -->

<img src="{{ user.image_url }}" width="100px" height="150px" />
<h1>{{ user.first_name }} {{ user.last_name }}</h1>


<form>
    <button formaction="/users/{{ user.id }}/edit" formmethod="GET">
        Edit
    </button>
    <button formaction="/users/{{ user.id }}/delete" formmethod="POST">
        Delete
    </button>
    <button formaction="/users" formmethod="GET">
        Home
    </button>
</form>

{% endblock %}